*{
    box-sizing: border-box;
    
}
h1{
    font-family: sans-serif;
    font-weight: 800;
    margin-bottom: 15px;
    text-align: center;
}
p{
    position: relative;
   border: 2px solid black;
    width: 90%;
    font-size: 20px;
    padding: 30px 10px ;
    margin-right: auto;
    margin-left: auto;
    margin-bottom:15px;
    font-family: sans-serif;
    background-color:lightgray;

}
span{
    text-align: center;
    width: 100px;
    font-size:20px;
    font-style: italic;
    font-weight: 600;
    position: absolute;
    top:0px;
    right: 0px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    color: white;
     
}
#h1{
    background-color: darkgoldenrod;
}
#h2{
    background-color: crimson;
}
#h3{
    background-color: blue;
}
.row{
    width: 100%;
}

@media (min-width:992px){
    .col-lg-4{
        float: left;
       width: 33%;
    }
    
}
@media (min-width:768px) and (max-width:991px){
    .col-md-6{
        float: left;
        width: 50%;
    }
    .col-md-12{
        float: left;
        
        width: 100%;
    }
    
}